<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ksGrunt示例模板</title>
    <link href="../resource/assets/css/demo.min.css" rel="stylesheet">
</head>
<body>
    
    <div class="m_header">
        <div class="wrapper">
            <h1>KS-Grunt示例</h1>
        </div>
    </div>
    
    
    <div class="m_body">
        <div class="wrapper">
            
            <div class="m_box">
                <h2>安装步骤：</h2>
                <p>下载nodeJS：<a href="http://nodejs.org/" target="_blank">下载</a>，并安装</p>
                <p>安装Grunt：<a href="http://gruntjs.com/getting-started" target="_blank">GruntJS</a>。安装的过程中先安装npm install -g grunt。再安装npm install -g grunt-cli。</p>
            </div>
            
            
            <div class="m_box">
                <h2>基于KS-Grunt的项目基本构建包</h2>
                <p>下载：<a href="#">KS-Grunt</a></p>
                <p>基本构建包包含：css、js合并，混淆压缩，图片优化、HTML删除注释</p>
            </div>
            
            
            <div class="m_box">
                <h2>grunt常用插件</h2>
                <ul class="m_list">
                    <li><a href="#">grunt</a></li>
                    <li><a href="#">grunt-contrib-concat</a></li>
                    <li><a href="#">grunt-contrib-csslint</a></li>
                    <li><a href="#">grunt-contrib-cssmin</a></li>
                    <li><a href="https://github.com/gruntjs/grunt-contrib-htmlmin" target="_blank">grunt-contrib-htmlmin</a></li>
                    <li><a href="#">grunt-contrib-imagemin</a></li>
                    <li><a href="#">grunt-contrib-jshint</a></li>
                    <li><a href="#">grunt-contrib-uglify</a></li>
                    <li><a href="#">grunt-contrib-watch</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    
    
    <div class="m_footer">
        底部
    </div>
    
    <script src="../resource/assets/js/demo.min.js"></script>
    <script>
        a();
        b();
    </script>
</body>
</html>